.espacio,
.espacio1,
.espacio2 {
  padding-left: 100px
}
.espacio1,
.fonfo {
  margin-right: 100px
}
.body {
  height: 420px
}
.color {
  background-color: #1a5276;
  color: #fff
}
.backround,
.color1 {
  background-color: #fff
}
.colorre {
  color: #7dcea0
}
.color3 {
  color: #1a5276
}
.color4 {
  color: #7dcea0
}
.color4.color5,
.color5,
.leter,
.letter {
  color: #1a5276
}
.color.fondo {
  background-color: rgba(0,0,0,.834);
  color: #000
}
.fondo {
  color: #000;
  background-color: rgba(90,195,222,.834)
}
.espacio1 {
  padding-top: 100px
}
.espacio2 {
  padding-top: 33px
}
.colo7 {
  color: #565656
}
.fonfo {
  margin-left: 100px
}
.fondo1 {
  color: #efefef;
  background-color: rgba(231,230,230,.834)
}
.space {
  padding: 33px 100px
}

